#root {
    padding: 0 !important;
}

.center {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;

    .row {
        @extend ._flex;
        @extend ._with-icon;
        position: relative;
        padding: 1.2rem 1rem;

        &:nth-child(2) {
            margin-top: 1rem;
        }

        input {
            width: 100%;
            padding: 0.4rem 2rem;
            border: none;
            border: 0.1rem solid transparent;
            border-radius: 0.2rem;
            background-color: var(--white);
            box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
            font-size: 1.2rem;

            &:focus {
                border: 0.1rem solid var(--green);
            }
        }

        button {
            @extend ._flex;
            justify-content: center;
            margin: 1rem auto;
            width: 16rem;
            font-size: 1.2rem;

            > svg {
                margin: 0;
            }
        }

        > svg {
            position: absolute;
            width: 1.2rem;
            height: 1.2rem;
            color: var(--black-grey);
            cursor: pointer;
            z-index: 0;

            &:first-child {
                left: 1.5rem;
            }

            &:last-child {
                right: 1.2rem;
            }

            &.light {
                color: var(--green);
            }
        }
    }

    .tips {
        user-select: none;
        padding: 1rem;
        color: var(--black-grey);

        a {
            color: var(--blue);
            font-weight: bold;
        }
    }

    > p {
        svg {
            position: relative;
            top: -0.06rem;
            width: 1.2rem;
            height: 1.2rem;
            vertical-align: middle;
            color: var(--red);
        }
    }
}
