@import "base.scss";
@import "page.scss";
@import "text.scss";
@import "panel.scss";
@import "button.scss";
@import "richtext.scss";

body {
    background-color: $bg-white;
}

.-page-container {
    @extend ._full-size;
    @extend ._rel;
    @extend ._with-shadow;
    background-color: $white;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden auto;
    border-radius: 0;
}

.head {
    @extend ._flex;
    padding: 0 0.8rem;

    .profile {
        @extend ._small-profile;
        margin-right: 0.5rem;
        box-shadow: $small-shadow;
    }

    .nickname {
        @extend ._truncated;
        max-width: 13rem;
        text-decoration: none;
    }

    .date {
        @extend ._to-right;
    }
}

h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    padding: 0 0.8rem;
    word-break: break-all;
}

.desc {
    margin: 0;
    padding: 0.4rem 0.8rem;
}

.cover {
    max-width: 100%;
    min-width: 100%;
}
