@import "base.scss";

.page-container {
    padding: 0;
}

.header {
    @extend ._flex;
    padding: 0.5rem 1rem;

    .profile {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    }

    .author {
        @extend ._truncated;
        max-width: 12rem;
        margin-left: 1rem;
    }

    .date {
        margin-left: auto;
    }
}

.content {
    font-size: 1.1rem;

    h1,
    h2:first-child {
        font-size: 2.6rem;
        color: var(--black);
        margin: 0;
        padding: 0.5rem 1rem 1rem;
        line-height: 1.4;
    }

    p {
        padding: 0 1rem;
        &.caption {
            text-align: center;
            margin-top: 0;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    pre {
        padding: 1rem;
        background-color: var(--white);

        > code {
            word-wrap: break-word;
        }
    }

    blockquote {
        padding: 1rem;
        font-size: 1.2rem;
        font-style: italic;
        line-height: 1.7rem;
        background-color: var(--light-white);
        color: var(--black);
        border-radius: 0.2rem;
    }

    .delimiter {
        padding: 2rem 0;
        text-align: center;
        font-family: monospace;
        font-size: 1.5rem;
    }
}
