button {
    background-image: none;
}

#editorjs {
    margin: 0 1rem;
}

.ct--top,
.ct--bottom,
.ce-inline-tool--link,
.ce-toolbox__button[data-tool="paragraph"] {
    display: none;
}

#root {
    padding: 3.5rem 0 0;
}
