#root {
    padding: 3.5rem 1rem !important;
}

.item {
    @extend ._with-icon;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    background-color: var(--white);
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);

    .head {
        @extend ._flex;

        .profile {
            @extend ._img;
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 0.5rem;
            border-radius: 50%;
        }

        .date {
            margin-left: auto;
        }
    }

    .body {
        padding: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--black);
    }

    .footer {
        @extend ._flex;
        color: var(--grey);

        svg:nth-child(3) {
            margin-left: auto;
        }
    }
}
