@import "base.scss";

._switch {
    cursor: pointer;
    width: 3.2rem;
    height: 1.6rem;
    background-color: $grey-lighter;
    border-radius: 2rem;
    box-shadow: 0 0 3px $grey-light;
    transition: background-color 200ms;

    &.active {
        background-color: $link;

        .switcher {
            transform: translate3d(100%, 0, 0);
        }
    }

    .switcher {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0 0 3px $grey-light;
        transition: transform 300ms;
    }
}

/* Dark theme */
body.dark {
    ._switch {
    }
}
