@import "base.scss";

$megatron-1: #f7797d;
$megatron-2: #c6ffdd;
$megatron-3: #fbd786;

$jshine-1: #f64f59;
$jshine-2: #12c2e9;
$jshine-3: #c471ed;

$wiretap-1: #8a2387;
$wiretap-2: #f27121;
$wiretap-3: #e94057;

$wedding-1: #8a2387;
$wedding-2: #f27121;
$wedding-3: #e94057;

$honey-1: #43c6ac;
$honey-2: #ffc3a0;
$honey-3: #f8ffae;

@keyframes aurora-turning {
    100% {
        transform: rotate(1turn) translate(15%) rotate(-1turn);
    }
}

@keyframes aurora-turning-reversely {
    100% {
        transform: rotate(-1turn) translate(15%) rotate(1turn);
    }
}

._aurora-static {
    @extend ._rel;
    @extend ._full-size;

    background-image: radial-gradient(
        at left bottom,
        $megatron-3,
        transparent 60%
    );

    &:after {
        @extend ._full-size;
        @extend ._abs;

        content: "";
        z-index: -1;
        background-image: radial-gradient(
            at left top,
            $megatron-1,
            transparent
        );
    }

    &:before {
        @extend ._full-size;
        @extend ._abs;

        content: "";
        z-index: -1;
        background-image: radial-gradient(
            at right bottom,
            $megatron-2,
            transparent
        );
    }
}

._aurora {
    @extend ._rel;
    @extend ._full-size;
    @extend ._blurred-serverely;

    background-image: radial-gradient(
        at left bottom,
        $megatron-3,
        transparent 60%
    );

    &:after {
        @extend ._full-size;
        @extend ._abs;

        content: "";
        z-index: -1;
        transform: rotate(0) translate(15%) rotate(0);
        animation: aurora-turning 12s linear infinite;
        background-image: radial-gradient(
            at left top,
            $megatron-1,
            transparent
        );
    }

    &:before {
        @extend ._full-size;
        @extend ._abs;

        content: "";
        z-index: -1;
        animation: aurora-turning-reversely 8s linear infinite;
        transform: rotate(0) translate(15%) rotate(0);
        background-image: radial-gradient(
            at right bottom,
            $megatron-2,
            transparent
        );
    }

    &.jshine {
        background-image: radial-gradient(
            at left bottom,
            $jshine-3,
            transparent 60%
        );

        &:after {
            background-image: radial-gradient(
                at left top,
                $jshine-1,
                transparent
            );
        }

        &:before {
            background-image: radial-gradient(
                at right bottom,
                $jshine-2,
                transparent
            );
        }
    }

    &.wiretap {
        background-image: radial-gradient(
            at left bottom,
            $wiretap-3,
            transparent 60%
        );

        &:after {
            background-image: radial-gradient(
                at left top,
                $wiretap-1,
                transparent
            );
        }

        &:before {
            background-image: radial-gradient(
                at right bottom,
                $wiretap-2,
                transparent
            );
        }
    }

    &.wedding {
        background-image: radial-gradient(
            at left bottom,
            $wedding-3,
            transparent 60%
        );

        &:after {
            background-image: radial-gradient(
                at left top,
                $wedding-1,
                transparent
            );
        }

        &:before {
            background-image: radial-gradient(
                at right bottom,
                $wedding-2,
                transparent
            );
        }
    }

    &.honey {
        background-image: radial-gradient(
            at left bottom,
            $honey-3,
            transparent 60%
        );

        &:after {
            background-image: radial-gradient(
                at left top,
                $honey-1,
                transparent
            );
        }

        &:before {
            background-image: radial-gradient(
                at right bottom,
                $honey-2,
                transparent
            );
        }
    }
}
