@import "normalize.css";

/* Colors and shadows */
$black: hsl(0, 0%, 7%);
$black-grey: hsl(0, 0%, 30%);
$grey: hsl(0, 0%, 50%);
$grey-white: hsl(0, 0%, 70%);
$light-white: hsl(0, 0%, 90%);
$bg-white: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$light-blue: #9cecfb;
$blue: #65c7f7;
$dark-blue: #0052d4;
$green: #64f3bc;
$orange: hsl(28, 98%, 47%);
$red: #ff5f6d;
$shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.15);
$light-shadow: 0 0.4rem 1.2rem rgba(255, 255, 255, 0.15);
$small-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);

/* Layout */
[hidden] {
    display: none !important;
}

* {
    box-sizing: border-box;
}

._flex {
    display: flex;
    align-items: center;
}

._content-center {
    justify-content: center;
}

._inline {
    display: inline-block;
    vertical-align: middle;
}

._block {
    display: block;
}

._abs {
    position: absolute;
}

._rel {
    position: relative;
}

._to-right {
    margin-left: auto;
}

._full-size {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

._full-width {
    width: 100%;
    max-width: 100%;
}

._full-height {
    height: 100%;
}

._no-overflow {
    overflow: hidden;
}

._cover {
    background-size: cover;
}

._round-corner {
    border-radius: 0.4rem;
}

._round {
    border-radius: 50%;
}

._no-radius {
    border-radius: 0;
}

._blurred {
    filter: blur(0.8rem);
}

._blurred-serverely {
    filter: blur(4rem);
}

._with-shadow {
    box-shadow: $shadow;
}

._with-blurred-backdrop {
    backdrop-filter: blur(0.8rem);
}

._cursor-pointer {
    cursor: pointer;
}

._no-outline {
    outline: none;
}

._with-transition {
    transition: all 300ms;
}

._with-icon {
    svg {
        @extend ._inline;
        margin-right: 0.4em;
        width: 1.2em;
        height: 1.2em;
    }
}

._no-border {
    border: none;
}

._no-outline {
    outline: none;

    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

._unselectable {
    user-select: none;
}

._small-profile {
    @extend ._round;
    width: 1.4rem;
    height: 1.4rem;
}

._horizontal-scrolling {
    @extend ._full-width;
    white-space: nowrap;
    overflow: auto hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    > * {
        @extend ._inline;
    }
}

/* Dark theme */
body.dark {
    ._with-shadow {
        box-shadow: $light-shadow;
    }
}
