@import "normalize.css";

/* Colors */
:root {
    --black: hsl(0, 0%, 7%);
    --black-grey: hsl(0, 0%, 30%);
    --grey: hsl(0, 0%, 50%);
    --grey-white: hsl(0, 0%, 70%);
    --light-white: hsl(0, 0%, 90%);
    --bg-white: hsl(0, 0%, 96%);
    --white: hsl(0, 0%, 100%);
    --light-blue: #9cecfb;
    --blue: #65c7f7;
    --dark-blue: #0052d4;
    --green: #64f3bc;
    --orange: hsl(28, 98%, 47%);
    --red: #ff5f6d;
}

/* Elements */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

[hidden] {
    display: none !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    @extend ._flex;
    justify-content: center;
    padding: 0.5rem 1.2em;
    border: none;
    border-radius: 0.2rem;
    color: var(--white);
    background-image: radial-gradient(at left top, var(--green), var(--blue));
    transition: all 200ms;
    font-size: 1.2rem;

    &:hover {
        transform: scale(0.98);
    }

    &:active {
        transform: scale(0.96);
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

img {
    max-width: 100%;
}

input {
    @extend ._no-outline;
    cursor: pointer;
    padding: 0.4rem 1.5rem;
    border: none;
}

/* Remove autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

p,
div {
    line-height: 1.5;
    color: var(--black-grey);
    word-break: break-all;
}

table {
    border-collapse: collapse;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Layout */
.hidden {
    display: none !important;
}

.page-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3.5rem 0;
    overflow: hidden auto;
}

._flex {
    display: flex;
    align-items: center;
}

._truncated {
    white-space: nowrap;
    max-width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

._line-clamp {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

._inline {
    display: inline-block;
    vertical-align: middle;
}

._with-icon {
    svg {
        @extend ._inline;
        margin-right: 0.2em;
        width: 1.3em;
        height: 1.3em;
    }
}

._no-outline {
    outline: none;
    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

._horizontal-scrolling {
    @extend ._full-width;
    white-space: nowrap;
    overflow: auto hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    > * {
        display: inline-block;
    }
}

/* Custom elements */
.switch {
    cursor: pointer;
    width: 3.2rem;
    height: 1.6rem;
    background-color: var(--grey);
    border-radius: 2rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.02);
    transition: background-color 200ms;

    &.active {
        background-color: var(--blue);

        .inner {
            transform: translate3d(1.6rem, 0, 0);
        }
    }

    .btn {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.02);
        transition: transform 300ms;
    }
}

.richtext {
    div,
    p {
        margin: 0;
        padding: 0.4rem 0.8rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
}

/* Desktop */
@media screen and (min-width: 1024px) {
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --dark-mode: 1;
    }
}
