@import "base.scss";
@import "tag.scss";

.-feed {
    padding: 0;
    background: $white;
    border-radius: 0;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
    }

    b {
        color: $black;
    }

    .cover {
        @extend ._block;
        @extend ._full-width;
        @extend ._cover;
        padding-bottom: 60%;
    }

    .content {
        padding: 0 0.8rem 0.5rem;

        .head {
            @extend ._flex;

            .profile {
                @extend ._small-profile;
                margin-right: 0.5rem;
                box-shadow: $small-shadow;
            }

            .nickname {
                @extend ._truncated;
                max-width: 13rem;
            }

            .date {
                @extend ._to-right;
            }
        }

        h1 {
            padding: 0 0 0.1rem;
            font-size: 1.8rem;
            line-height: 1.2;
            word-break: break-all;

            a {
                color: $black;
            }
        }

        .desc {
            a {
                color: $black-grey;
            }
        }

        .meta {
            @extend ._flex;
            @extend ._with-icon;

            svg {
                margin-right: 0;
            }

            .rating {
                @extend ._felx;
                padding: 0.2rem 0;
            }

            .pageview {
                @extend ._felx;
                @extend ._to-right;
                margin-right: 1rem;
            }

            .comments-count {
                @extend ._felx;
            }
        }

        .tags {
            padding: 0 0.2rem;
        }
    }
}

.-feed:not(:first-child) {
    @extend ._flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;

    .cover {
        width: 35%;
        min-width: 35%;
        padding-bottom: 35%;
    }

    .content {
        flex: 1;
        padding: 0.2rem 0.8rem 0.4rem;

        .head {
            line-height: 1;

            .nickname {
                font-size: 0.9rem;
                max-width: 8rem;

                b {
                    color: $black-grey;
                }
            }
        }

        h1 {
            padding: 0;
            font-size: 1.1rem;
        }

        .desc {
            font-size: 0.9rem;
        }

        .meta,
        .tags {
            display: none;
        }
    }
}
