@import "base.scss";
@import "text.scss";

.-navbar {
    @extend ._abs;
    @extend ._full-width;
    @extend ._no-radius;
    @extend ._flex;
    left: 0;
    top: 0;
    height: 3.5rem;
    padding: 0;

    > .left,
    > .center,
    > .right {
        @extend ._rel;
        @extend ._full-height;
        @extend ._with-icon;
    }

    > .left,
    > .right {
        width: 3.5rem;
    }

    > .center {
        flex: 1;
        padding: 0 1rem;
        text-align: center;
        line-height: 3.5rem;
        color: $black;
    }

    .btn {
        @extend ._flex;
        @extend ._full-size;
        @extend ._content-center;
        svg {
            font-size: 1.4rem;
            color: $black;
        }
    }
}
