@import "base.scss";

html {
    @extend ._full-size;
    /* Chrome on mobile devices. height: 100vh; */
}

body {
    @extend ._rel;
    @extend ._full-size;
    @extend ._no-overflow;
    max-width: 1024px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

body {
    background-color: $bg-white;
}

.-page-container {
    @extend ._abs;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3.5rem 0;
    overflow: hidden auto;
    border-radius: 0;
}
