@import "base.scss";

._panel {
    @extend ._rel;
    @extend ._no-overflow;
    @extend ._round;
    @extend ._with-blurred-backdrop;

    padding: 1rem;

    &:after {
        @extend ._full-size;
        @extend ._abs;

        content: "";
        z-index: -1;
        background-image: radial-gradient(
            at left top,
            hsla(0, 0%, 100%, 0.9),
            hsla(0, 0%, 100%, 0.1) 90%
        );
    }

    &:before {
        @extend ._full-size;
        @extend ._abs;

        content: "";
        z-index: -1;
        background-image: radial-gradient(
            at right top,
            hsla(0, 0%, 100%, 0.7),
            transparent 50%
        );
    }
}

/* Dark theme */
body.dark {
    ._panel {
        &:after {
            background-image: radial-gradient(
                at left top,
                hsla(0, 0%, 0%, 0.9),
                hsla(0, 0%, 0%, 0.1) 90%
            );
        }

        &:before {
            background-image: radial-gradient(
                at right top,
                hsla(0, 0%, 0%, 0.7),
                transparent 50%
            );
        }
    }
}
