@import "base.scss";

h1,
._h1 {
    margin: 0;
    padding: 2rem 0;
    font-size: 3.4rem;
    color: $black;
}

h2,
._h2 {
    margin: 0;
    padding: 1.5rem 0;
    font-size: 2.6rem;
    color: $black-grey;
}

h3,
._h3 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.8rem;
    color: $grey;
}

h4,
._h4 {
    margin: 0;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    color: $grey;
}

h5,
._h5 {
    margin: 0;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    color: $grey;
}

h6,
._h6 {
    margin: 0;
    padding: 0.2rem 0;
    font-size: 0.8rem;
    color: $grey-white;
}

p,
div {
    line-height: 1.5;
    color: $black-grey;
    word-break: break-all;
}

._truncated {
    white-space: nowrap;
    max-width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

._with-gradient {
    background: radial-gradient(at left top, $dark-blue, $green);
    background-clip: text;
    color: transparent;
}

/* Dark theme */
body.dark {
    h1,
    ._h1 {
        color: $white;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
    body {
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        width: 100%;
    }
}
