@import "normalize.css";
@import "colors.scss";

* {
    box-sizing: border-box;

    &[hidden] {
        display: none !important;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    line-height: 1.4;
    background-color: $light;
}

a,
button,
input,
select {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: $link;
}

table {
    border-collapse: collapse;
    width: 100%;
}

textarea {
    line-height: 1.5;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
