$hue: 213;

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);
$light: hsl(0, 0%, 98%);
$dark: hsl(0, 0%, 21%);
$primary: hsl($hue, 96%, 56%);
$secondary: hsl(183, 90%, 72%);
$link: hsl($hue, 91%, 50%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 92%);
$grey: hsl(0, 0%, 55%);
$grey-dark: hsl(0, 0%, 29%);
$orange: hsl(28, 98%, 47%);
$red: hsl(354, 98%, 46%);
