@import "colors.scss";

.-logo-header {
  $logo-size: 5rem;

  > a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    > div {
      flex: 1;
    }
    &:hover {
      svg {
        path {
          stroke: hsl(213, 92%, 28%);
        }
      }
    }

    svg {
      width: $logo-size;
      min-width: $logo-size;
      height: $logo-size;
      min-height: $logo-size;

      g {
        fill: url(#logo-gradient);
      }

      path {
        stroke: $dark;
        transition: stroke 300ms;
      }
    }

    h1 {
      font-size: 2.2rem;
      font-weight: bold;
      white-space: nowrap;
      margin: 0;
      color: $dark;
    }

    .sub-title {
      display: flex;
      align-items: center;
    }

    h3 {
      flex: 1;
      font-size: 0.9rem;
      font-weight: normal;
      white-space: nowrap;
      margin: 0;
      background-image: linear-gradient(130deg, $primary 0%, $secondary 100%);
      background-size: 100%;
      background-clip: text;
      background-color: $link;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    .meta {
      padding-right: 1rem;
      color: $red;
      font-size: 0.8rem;
      font-style: italic;
      font-weight: normal;
    }
  }
}
