@import "colors.scss";

.-logo-header {
  > a {
    display: flex;
    align-items: center;
    color: $black;
    text-decoration: none;

    &:hover {
      svg {
        color: $primary;
      }

      h1 {
        font-weight: normal;
      }
    }

    svg {
      width: 4rem;
      min-width: 4rem;
      height: 4rem;
      min-height: 4rem;
      transition: color 300ms;
    }

    h1 {
      font-size: 2.2rem;
      font-weight: lighter;
      font-style: italic;
      white-space: nowrap;
      margin: 0;
      transition: font-weight 300ms;
    }

    .primary {
      color: $primary;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: normal;
    }
  }
}
