@import "colors.scss";

.-related-article {
    display: block;
    padding: 0 1rem;
    border-bottom: 1px solid $grey-lighter;

    &:hover {
        background-color: $grey-lighter;
    }

    .title {
        display: flex;
        align-items: center;
        color: $dark;
        padding: 0.5rem 0;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    .meta {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: $grey;
        padding: 0 1.2rem 0.5rem;

        div:last-child {
            margin-left: auto;
        }
    }
}
