@import "colors.scss";

.-topic {
  display: inline-block;
  color: $link;
  font-size: 0.9rem;
  line-height: 1.1;
  text-decoration: none;
  white-space: nowrap;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 200ms;

  &:not(:last-child) {
    padding-right: 1rem;
  }

  &:hover {
      transform: scale(1.1);
  }

  svg {
    position: relative;
    left: 0.3rem;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}
