@import "base.scss";
@import "logoHeader.scss";
@import "pageContainer.scss";
@import "layout.scss";
@import "trix-customization.scss";
@import "richtext.scss";

$primary-lighter: color($primary lightness(+30%));

.header {
  flex: 1;
  text-align: right;

  .options {
    padding-top: 2.8rem;

    button {
      display: block;
      margin-left: auto;
      margin-bottom: 2rem;
      position: relative;
      overflow: hidden;
      border: none;
      border-radius: 4px;
      font-size: 0.9rem;
      padding: 0.36rem 1.2rem 0.3rem 0.8rem;
      color: $white;
      background-color: $primary;
      background-position: center;
      box-shadow: 0 0 4px $light;
      outline: none;
      transition: background 500ms;
      user-select: none;
      width: 6rem;

      &:hover {
        background: $primary radial-gradient(circle, transparent 1%, $primary 1%) center/15000%;
      }

      &:active {
        background-color: $primary-lighter;
        background-size: 100%;
        transition: background 0s;
      }

      svg {
        position: relative;
        top: -0.1rem;
        width: 1.1rem;
        height: 1.1rem;
        vertical-align: middle;
      }
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $dark;
      font-size: 0.9rem;

      label {
        cursor: pointer;
      }

      #is-public {
        cursor: pointer;
        margin: 0 0.2rem;

        svg {
          width: 1.4rem;
          height: 1.4rem;
          color: $grey-light;
          vertical-align: middle;
          transition: color 150ms;
        }

        &.active {
          svg {
            color: $link;
          }
        }
      }
    }
  }
}

.main {
  flex: 4;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.row {
  width: 100%;
  display: flex;
  align-items: flex-end;

  .keyword {
    width: 6rem;
    margin-left: 1rem;
    padding: 0.3rem 0;
    color: $grey-dark;

    &:last-child {
      margin-right: 1rem;
    }
  }
}

#title {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: $dark;
}

.richtext-editor {
  width: 100%;
  flex: 1;
  padding: 1rem 1rem 1rem 0;
  overflow: hidden;

  trix-editor {
    min-height: 93%;
    max-height: 93%;
    overflow: hidden;
  }
}

input {
  border: none;
  border-bottom: 1px solid $grey-dark;
  &:focus {
    border-color: $link;
  }
}
