.-author-card {
    @extend ._with-icon;

    display: inline-block;
    width: 10rem;
    height: 18.5rem;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    margin-right: 1rem;
    color: var(--black-grey);

    .profile {
        margin: auto;
        width: 10rem;
        height: 10rem;
        font-size: 5rem;
        line-height: 9rem;
        text-align: center;
        text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.8);
        color: var(--white);
        background-size: cover;
        background-position: center;
    }

    .nickname {
        @extend ._truncated;
        max-width: 100%;
        text-align: center;
        padding: 0.5rem;
        font-size: 1.4rem;
        color: var(--black);
    }

    .desc {
        @extend ._line-clamp;
        padding: 0 0.5rem;
        min-height: 5rem;
        font-size: 1.1rem;
        color: var(--grey);
        white-space: break-spaces;
    }
}
