@import "base.scss";

.-author-card {
    @extend ._with-icon;

    display: inline-block;
    height: 9.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    margin-right: 0.5rem;
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: var(--black-grey);

    .profile {
        border-radius: 50%;
        margin: auto;
        width: 4rem;
        height: 4rem;
    }

    .nickname {
        @extend ._truncated;
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }

    .statistics {
        @extend ._flex;

        svg {
            margin: 0;
        }
    }

    .articles-count {
        @extend ._flex;
        @extend ._truncated;
        flex: 1;
    }

    .fame {
        @extend ._flex;
        @extend ._truncated;
    }
}
