.feed {
    @extend .flex;
    padding: 0.5rem;
    border-top: 1px solid #eee;

    > .content {
        position: relative;
        flex: 1;
        height: 6rem;

        h1 {
            @extend .line-clamp;
            margin: 0 0.5rem 0 0;
            font-size: 1.25rem;
        }

        .footer {
            @extend .flex;
            position: absolute;
            left: 0;
            right: 0.5rem;
            bottom: 0;
            font-size: 0.9rem;
            color: var(--grey);

            svg {
                margin-left: auto;
                width: 1.3rem;
                height: 1.3rem;
                color: var(--yellow);
            }

            .nickname {
                @extend .line-clamp;
                -webkit-line-clamp: 1;
                max-width: 8rem;
            }

            .minutes {
                margin-left: 1rem;
            }
        }
    }

    > .cover {
        @extend .image-container;
        width: 6rem;
        height: 6rem;
        border-radius: 0.5rem;
    }
}
