.tabbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5rem;
    background-color: var(--white);
    box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.05);
    user-select: none;

    > .container {
        @extend ._flex;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        justify-content: space-around;

        > a {
            @extend ._flex;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;

            &.active {
                svg {
                    color: var(--blue);
                }
            }

            svg {
                width: 2rem;
                height: 2rem;
                color: var(--black);
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .tabbar {
        > .container {
            > a {
                cursor: pointer;
            }
        }
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .tabbar {
        color: var(--white);
    }
}
