.tabbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5rem;
    background-color: var(--white);
    box-shadow: 0 -0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    user-select: none;

    > .container {
        @extend .flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;

        > a {
            @extend .flex;
            flex-direction: column;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
            font-size: 0.8rem;
            color: var(--grey);

            &.active {
                div {
                    color: var(--primary);
                }
                svg {
                    color: var(--primary);
                }
            }

            svg {
                margin-bottom: 0.1rem;
                width: 1.6rem;
                height: 1.6rem;
                color: var(--grey);
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
    .tabbar {
        > .container {
            max-width: 1024px;
        }
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .tabbar {
        > .container {
            max-width: 1028px;
        }
        a {
            cursor: pointer;
        }
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .tabbar {
        color: var(--white);
    }
}
