@import "base.scss";

.-tag {
    @extend ._truncated;
    @extend ._no-outline;
    font-weight: bold;
    margin-right: 0.6rem;
    max-width: 10rem;
    text-decoration: none;
    color: var(--black-grey);
    -webkit-tap-highlight-color: transparent;
}
