#root {
    padding-bottom: 3.5rem;
}

.swiper {
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
}

.swiper-slide {
    @extend .image-container;
    width: 80%;
    padding-bottom: 50%;
    border-radius: 0.5rem;

    h1 {
        position: absolute;
        margin: 0;
        left: 0.5rem;
        bottom: 0.5rem;
        right: 0.5rem;
        color: var(--white);
        font-size: 1.25rem;
        font-weight: normal;
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--black);
}

.recommended-tags {
    @extend .flex;
    flex-wrap: wrap;

    .tag {
        @extend .line-clamp;
        -webkit-line-clamp: 1;
        max-width: 9rem;
        margin: 0.3rem 0.5rem;
        padding: 0.2rem 0.8rem;
        color: var(--white);
        font-size: 1rem;
        border-radius: 1rem;
    }
}

.latest-authors {
    @extend .horizontal-scrolling;
    padding: 1rem 0;
}
