.search {
    @extend ._with-icon;
    padding: 1.5rem 1rem;

    .container {
        position: relative;

        input {
            width: 100%;
            height: 2.8rem;
            line-height: 2.8rem;
            padding: 0 3.2rem;
            background: var(--white);
            color: var(--black);
            font-size: 1.4rem;
            font-weight: bold;
            border-radius: 2rem;
            box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.05);

            &::placeholder {
                color: var(--grey-white);
            }
        }

        svg {
            position: absolute;
            top: 0.5rem;
            width: 1.8rem;
            height: 1.8rem;

            &:first-child {
                left: 1rem;
                color: var(--grey-white);
            }

            &:last-child {
                display: none;
                right: 0.8rem;
                color: var(--black-grey);

                &.visible {
                    display: initial;
                }
            }
        }
    }

    .tips-empty,
    .tips-all-loaded {
        min-height: 100vh;
        padding-top: 10vh;
        font-size: 1.3rem;
        text-align: center;

        svg {
            position: relative;
            top: -0.2rem;
            vertical-align: middle;
        }
    }

    ul {
        padding: 1rem 0;

        .-feed {
            .cover,
            .meta {
                display: none;
            }
        }
    }

    .tips-all-loaded {
        padding: 1rem 0;
    }

    .more {
        margin: 0 auto 100vh;
    }
}

.recommended-tags {
    @extend ._horizontal-scrolling;
    padding: 0 1rem 1.5rem;

    .-tag {
        padding: 0.3rem 0.8rem;
        font-size: 1.2rem;
        background-color: var(--white);
        border-radius: 2rem;
        box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.05);
    }
}
