@import "base.scss";

button {
    background-image: none;
}

#editorjs {
    margin: 0 1rem;
}

.page-container {
    padding: 3.5rem 0 0;
}

.header {
    @extend ._flex;
    user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3.5rem;
    z-index: 1;
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.02);

    > * {
        @extend ._flex;
        @extend ._with-icon;
        justify-content: center;
        height: 100%;
    }

    .close-btn {
        width: 3.5rem;

        svg {
            font-size: 1.5rem;
        }
    }

    .publish-btn {
        margin-left: auto;
        padding: 0 1rem;
        color: var(--dark-green);

        span {
            font-size: 1.1rem;
        }

        svg {
            font-size: 1.2rem;
        }
    }
}
