@import "base.scss";
@import "navigationBar.scss";
@import "feed.scss";
@import "topic.scss";
@import "button.scss";
@import "author.scss";
@import "footer.scss";

@import "./navbar.scss";
@import "./main.scss";
@import "./etc.scss";

.-page-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
