@import "base.scss";

.-tabbar {
    @extend ._flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5rem;
    padding: 0 2rem;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
    user-select: none;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        transform: scaleY(0.5);
        content: "";
        background-color: var(--light-white);
    }

    .tab {
        @extend ._flex;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;

        &.active {
            svg {
                color: var(--blue);
            }
        }

        svg {
            width: 2rem;
            height: 2rem;
            color: var(--black);
        }
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .-tabbar {
        color: var(--white);
    }
}
