@import "base.scss";

.-tabbar {
    @extend ._flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5rem;
    padding: 0 2rem;
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.9),
        hsla(0, 0%, 100%, 1) 30%
    );
    justify-content: space-between;
    box-shadow: 0 -0.2rem 0.2rem rgba(0, 0, 0, 0.02);

    .tab {
        @extend ._flex;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;

        &.active {
            svg {
                color: var(--blue);
            }
        }

        svg {
            width: 2rem;
            height: 2rem;
            color: var(--black);
        }
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .-tabbar {
        color: var(--white);
    }
}
