#root {
    padding: 3rem 0 3.5rem;
}

.search-bar {
    position: relative;
    margin: 1.2rem 1rem;

    input {
        width: 100%;
        padding: 0.5rem 1.5rem;
        background: #f0f0f0;
        border-radius: 1rem;
        font-size: 1.1rem;
    }

    svg {
        display: none;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        width: 1.3rem;
        height: 1.3rem;
        color: $light-font-color-2;

        &.visible {
            display: initial;
        }
    }
}

.followings,
.users {
    @extend .horizontal-scrolling;
    margin-bottom: 1rem;
}

.empty {
    text-align: center;
}

/* Dark Theme */
body.dark {
    background-color: $dark-bg-color;
    color: $dark-font-color-2;

    .search-bar {
        ::placeholder {
            color: $dark-font-color-2;
        }

        input {
            background: $light-font-color-2;
            color: $white;
        }

        svg {
            color: $dark-font-color-2;
        }
    }
}
/* Dark Theme Ends */
