@import "base.scss";

.center {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;

    .row {
        @extend ._flex;
        @extend ._with-icon;

        padding: 1.2rem 1rem;

        &:nth-child(2) {
            margin-top: 1rem;
        }

        &:nth-child(3) {
            position: relative;
            > input {
                padding-right: 1.5rem;
            }
            > svg {
                position: absolute;
                right: 1rem;
                width: 1.2rem;
                height: 1.2rem;
                color: var(--grey-dark);
                cursor: pointer;
                z-index: 0;
                &.light {
                    color: var(--link);
                }
            }
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--grey-dark);
            background-color: var(--light);

            &:focus {
                border-bottom: 1px solid var(--link);
            }

            &.small {
                width: 9rem;
            }
        }

        button {
            display: block;
            margin: 1rem auto;
            width: 16rem;
        }
    }

    .tips {
        user-select: none;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        color: var(--grey-dark);
    }
}
