@import "base.scss";
@import "button.scss";
@import "logoHeader.scss";

body {
  overflow: hidden;
}

.main {
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
  max-width: 18rem;

  .row {
    display: flex;
    align-items: center;
    padding: 1.2rem 0;

    &:nth-child(2) {
      position: relative;
      margin-top: 1rem;
      > input {
        padding-right: 1.5rem;
      }
      > svg {
        position: absolute;
        right: 1rem;
        width: 1.2rem;
        height: 1.2rem;
        color: $grey-dark;
        cursor: pointer;
        z-index: 0;
        &.light {
          color: $link;
        }
      }
    }

    label {
      width: 2rem;
      text-align: right;
      padding-right: 1rem;
      color: $grey-dark;

      svg {
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
      }
    }

    input {
      width: 15rem;
      border: none;
      border-bottom: 1px solid $grey-dark;
      background-color: $light;

      &:focus {
        border-bottom: 1px solid $link;
      }

      &.small {
        width: 9rem;
      }
    }

    button {
      display: block;
      margin: 1rem auto;
      width: 16rem;
    }
  }
}
