@import "colors.scss";

.-search-bar {
  padding: 1rem 2rem;

  .input-container {
    position: relative;

    & > input {
      width: 100%;
      font-size: 1.2rem;
      padding: 0.5rem 2.5rem 0.5rem 1rem;
      border-color: $grey-dark;
      border-radius: 4px;
      color: $dark;
    }

    & > svg {
      position: absolute;
      right: 0.8rem;
      top: 0.5rem;
      width: 1.6rem;
      height: 1.6rem;
    }

    & > ul {
      position: absolute;
      left: 0;
      top: 2.48rem;
      margin: 0;
      padding: 0.5rem 1rem;
      list-style: none;
      width: 100%;
      background: $white;
      border: 1px solid $light;
      border-radius: 4px;
      box-shadow: 0 6px 12px $light;
    }
  }
}
