@import "base.scss";

h2 {
    @extend ._flex;
    @extend ._with-icon;
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem 0.6rem;
    justify-content: center;
    color: var(--black-grey);

    &:not(:first-child) {
        margin-top: 3rem;
    }

    svg {
        margin-right: 0.1rem;
    }
}

button.more {
    display: block;
    margin: 2.5rem auto 4rem;

    a {
        @extend ._flex;
        width: 100%;
        height: 100%;

        svg {
            margin-right: 0.2rem;
        }
    }
}

.board {
    @extend ._horizontal-scrolling;
    padding: 0 1rem 1rem;

    button.more {
        display: inline-block;
        position: relative;
        top: -3.8rem;
        margin: 0;
    }
}
