h2 {
    @extend ._flex;
    @extend ._with-icon;
    font-size: 1.4rem;
    margin: 0;
    padding: 1rem;
    color: var(--grey);

    &:not(:first-child) {
        margin-top: 1rem;
    }

    svg {
        margin-right: 0.1rem;
    }
}

.board {
    @extend ._horizontal-scrolling;
    padding: 0 1rem 1rem;

    button.more {
        display: inline-block;
        position: relative;
        top: -3.6rem;
        margin: 0;
    }
}
