@import "base.scss";

h2 {
    @extend ._flex;
    @extend ._with-icon;
    font-size: 2rem;
    padding: 0.8rem;
    color: var(--black);

    &:not(:first-child) {
        margin-top: 3rem;
    }
}

.board {
    @extend ._horizontal-scrolling;
    padding: 0 1rem 1rem;

    .more {
        @extend ._inline;

        svg {
            position: relative;
            top: -0.1rem;
            vertical-align: middle;
            margin: 0;
        }
    }
}

.more {
    @extend ._flex;
    @extend ._with-icon;
    justify-content: center;
    color: var(--black-grey);
    text-decoration: none;

    svg {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 0.2rem;
    }
}
