.-navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3rem;
    z-index: 100;
    background-color: var(--white);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    color: var(--black);
    user-select: none;

    > .container {
        @extend .flex;
        position: relative;
        width: 100%;
        margin: 0 auto;

        > .left,
        > .right {
            width: 3rem;
            height: 3rem;
        }

        > .center {
            flex: 1;
            text-align: center;
            line-height: 3.5rem;
            font-size: 1.25rem;
            font-weight: bold;
            color: var(--black);
            overflow: hidden;
        }

        button {
            width: 3rem;
            height: 3rem;
            padding: 0;
            appearance: none;
            background: none;

            color: var(--black);

            svg {
                width: 1.4rem;
                height: 1.4rem;
            }

            &.publish {
                position: absolute;
                right: 0;
                width: 5.5rem;
                color: var(--dark-green);

                span {
                    position: relative;
                    top: 0.1rem;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
    > .container {
        max-width: 1024px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .-navbar {
        > .container {
            max-width: 1280px;
        }

        button {
            cursor: pointer;
        }
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .-navbar {
        color: var(--white);
    }
}
