.-toast {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 102;
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: center;

    .text {
        display: inline-block;
        margin: 5% auto;
        padding: 0.5rem 1rem;
        background: rgba(0, 0, 0, 0.9);
        color: var(--white);
        border-radius: 0.5rem;
        font-size: 1.1rem;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transform 150ms, opacity 150ms;
        user-select: none;

        &.invisible {
            opacity: 0;
            transform: translate3d(0, -2rem, 0);
        }
    }
}
