.-comment {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    background-color: var(--white);
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;

    .head {
        @extend ._flex;
        @extend ._with-icon;

        padding: 0 1rem;

        .profile {
            @extend ._img;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            margin-right: 0.5rem;
            text-align: center;
            color: var(--white);
            font-size: 1.8rem;
            line-height: 1.6rem;
            box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);
        }

        .author {
            @extend ._truncated;
            max-width: 10rem;
            color: var(--black);
            font-weight: bold;
        }

        .date {
            @extend ._flex;
            margin-left: auto;
            color: var(--grey);
        }
    }

    .body {
        .reference {
            .reply-to {
                padding: 0 1rem;
            }

            .reference-content {
                position: relative;
                margin: 0 1rem;
                border: 1px solid var(--light-white);
                border-radius: 0.2rem;
                background-color: var(--light-white);
                overflow: hidden;

                &.folded {
                    max-height: 10rem;

                    .arrow svg {
                        transform: rotate(180deg);
                    }
                }

                p {
                    padding: 0 1rem;
                }

                .arrow {
                    @extend ._with-icon;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    text-align: center;
                    height: 5rem;
                    padding-top: 2.5rem;
                    background-image: linear-gradient(rgba(255, 255, 255, 0.7), #fff);
                }
            }
        }
    }

    .footer {
        @extend ._flex;

        > * {
            @extend ._flex;
            flex: 1;
            padding-bottom: 0.5rem;

            svg {
                margin-right: 0.2rem;
            }

            &:first-child {
                justify-content: left;
                padding-left: 1rem;

                &.active {
                    svg {
                        color: var(--green);
                    }
                }

                svg {
                    position: relative;
                    top: -2px;
                }
            }

            &:nth-child(2) {
                justify-content: center;
            }

            &:last-child {
                padding-right: 1rem;

                svg {
                    margin-left: auto;
                }
            }

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
}
