@import "base.scss";
@import "button.scss";
@import "logoHeader.scss";
@import "truncated.scss";

@import "navbarMe.scss";
@import "./center.scss";
@import "./right.scss";

.-page-container {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
