@import "base.scss";

.bg {
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;

    > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}

.meta {
    position: relative;
    padding-top: 5.5rem;
    background-color: var(--white);

    .profile {
        position: absolute;
        border-radius: 50%;
        left: 2rem;
        top: -4rem;
        width: 8rem;
        height: 8rem;
        background-size: cover;
    }

    > button {
        @extend ._flex;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .row {
        @extend ._flex;
        @extend ._with-icon;
        position: relative;
        box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
        padding: 1rem 1rem 1rem 2rem;
        background-color: var(--white);

        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: var(--light-white);
            transform: scaleY(0.5);
        }

        label {
            @extend ._flex;
            width: 6rem;
            font-weight: bold;
        }

        svg:last-child {
            margin-left: auto;
        }

        > span {
            color: var(--black);
        }
    }

    .operations {
        button {
            display: block;
            width: 100%;
        }

        .sign-out {
            margin: 2rem 1rem 1.2rem 0;
            padding: 0.6rem 1.2rem;
            background-image: radial-gradient(
                at left top,
                var(--orange),
                var(--red)
            );
        }
    }
}
